@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@100&display=swap');
.wavy{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    cursor: pointer;
    }
    .wavy span{
        color: rgb(255, 255, 255);
        font-family:'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 40;
        position: relative;
        display:inline-block;
        animation: animate 2s  infinite;
        animation-delay: calc(0.1s * var(--i));
    }
    @keyframes animate{
        0%
        {
          color: rgb(247, 0, 255);
        }
        20%
        {
        }
        40%
        {
        }
        60%
        {
            color: rgb(255, 255, 255);
          }
    }
#numetitlu{
    margin-top: 50px;
}
p{
    margin-top: 10px;
    font-size: 20;
    text-align: center;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
}
body{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}